html {
    height: 100%;
}
body {
    /*background: url("../images/backs/C_Users_rahul_AppData_Local_Packages_Microsoft.SkypeApp_kzf8qxf38zg5c_LocalState_b85691c4-c820-46c6-a98a-d6f6c5430072.jpg") top/cover no-repeat;*/
    /*height: 650px;*/
    height: 100%;
    margin: 0;
    /*padding: 0 38px;*/
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/*common classes start*/
._flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
._v-center {
    display:-moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *display:inline;
}
._center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
._j-sp_btvn {
    -ms-flex-pack: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
._clear-l {
    clear: left;
}
._clear-r {
    clear: right;
}
._clear-b {
    clear: both;
}
._trans-all {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}
p {
    margin: 0;
}
div {
    box-sizing: border-box;
}
/*common classes end*/

.bodyContainer {
    position: relative;
    height: 100%;
}
.bodyContainer_one {
    background: url("../images/backgnd.jpg") top/cover no-repeat;
}
.mainHeader {
    padding-top: 33px;
    box-sizing: border-box;
}
    .mainHeaderLeft {
        padding-left: 3.7%;
        position: relative;
    }
        .mainHeaderLeft p {
            color: rgb(79, 77, 74);
            font-size: 20px;
            font-weight: 700;
        }
        .mainHeaderLeft img {
            height: 60px;
            position: absolute;
        }
    /* ------------------ */
    .mainHeaderRight_navs {
        padding-right: 3%;
        box-sizing: border-box;
    }
        .mainHeaderRight_btns {
            color: rgb(138, 135, 131);
            font-size: 11px;
            font-weight: 600;
            white-space: nowrap;
            margin: 3px 25px;
            border-bottom: 3px solid transparent;
            text-align: center;
            cursor: pointer;
        }
        .mainHeaderRight_btns:hover {
             border-color: #63615d;
         }
        .mainHeaderRight_btns_selected {
            border-color: #63615d;
        }
    /* ------------------ */
.mainH1 {
    position: relative;
    color: #4f4d4a;
    font-size: 35px;
    font-weight: 800;
    margin-left: 4.9%;
    margin-top: 16.7%;
}
    .mainH1:before {
        content: '';
        position: absolute;
        width: 4.4%;
        top: -20px;
        left: 0;
        height: 5px;
        background: #4f4d4a;
    }
    /* ------------------ */
.firstContact {
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    width: 49%;
    padding: 1% 3.5% 1.3% 3.8%;
}
    .firstContact_inpbox {
        width: 80%;
    }
        .fist_input{
            font-size: 14px;
            border: 0;
            outline: 0;
            width: 100%;
        }
            .firstContact_inpbox input::placeholder {
                color: #5c5c5c;
                font-style: italic;
                font-size: 12px;
            }
    .firstContact_go {
        position: relative;
    }
        .firstContact_go_img {
            position: absolute;
            top: 7px;
            bottom: 0;
            margin: auto 0;
            right: 0;
            height: 12px;
            cursor: pointer;
            padding: 5px 0;
        }
        @-webkit-keyframes goArrow {
            0%   {  -ms-transform: translateX(5px); -webkit-transform: translateX(5px);  transform: translateX(5px);  }
            50% {  -ms-transform: translateX(0px); -webkit-transform: translateX(0px); transform: translateX(0px);  }
            100% { -ms-transform: translateX(5px); -webkit-transform: translateX(5px); transform: translateX(5px);  }
        }
        @-moz-keyframes goArrow {
            0%   {  -ms-transform: translateX(5px); -webkit-transform: translateX(5px);  transform: translateX(5px);  }
            50% {  -ms-transform: translateX(0px); -webkit-transform: translateX(0px); transform: translateX(0px);  }
            100% { -ms-transform: translateX(5px); -webkit-transform: translateX(5px); transform: translateX(5px);  }
        }
        @-o-keyframes goArrow {
            0%   {  -ms-transform: translateX(5px); -webkit-transform: translateX(5px);  transform: translateX(5px);  }
            50% {  -ms-transform: translateX(0px); -webkit-transform: translateX(0px); transform: translateX(0px);  }
            100% { -ms-transform: translateX(5px); -webkit-transform: translateX(5px); transform: translateX(5px);  }
        }
        @keyframes goArrow {
            0%   {  -ms-transform: translateX(5px); -webkit-transform: translateX(5px);  transform: translateX(5px);  }
            50% {  -ms-transform: translateX(0px); -webkit-transform: translateX(0px); transform: translateX(0px);  }
            100% { -ms-transform: translateX(5px); -webkit-transform: translateX(5px); transform: translateX(5px);  }
        }
        .firstContact_go_img:hover {
            -webkit-animation: goArrow 500ms infinite;
            -moz-animation:    goArrow 500ms infinite;
            -o-animation:      goArrow 500ms infinite;
            animation:         goArrow 500ms infinite;
        }

/*idManagement css [start]*/
.IdManagementBody {
    background: url(../images/idback.png) right/contain no-repeat;
    background-size: 54%;
    background-position-y: 58%;
    background-position-x: 96%;
}
.idManagementMain {
    padding-left: 10%;
    padding-top: 7.5%;
}
    .Id_h1 {
        font-weight: 400;
        color: #1b1b1b;
        font-size: 33px;
        margin-bottom: 0;
    }
    .Id_p1 {
        font-size: 14px;
        padding-top: 18px;
        line-height: 21px;
    }
    .IdManagementform {
        padding-top: 2.3%;
        width: 40%  ;
    }
    .IdManagementform_fieldset {
        border: 0;
        margin: 0;
        padding: 0;
        width: 55%;
        position: relative;
    }
    .IdManagementform input {
        background: transparent;
        border: none;
        padding: 15px 0;
        outline: none;
        width: 100%;
        font-weight: 600;
    }
    .IdManagementform_fieldset:nth-child(1) input {
        border-bottom: 2px solid #e6e6e6;
    }
        .greentick {
            position: absolute;
            right: 0;
            top: 35%;
            height: 13px;
        }
    .IdManagementform_p {
        font-size: 11px;
        font-weight: 600;
        padding-top: 3%;
    }
    .btn_one {
        position: relative;
        background: #816845;
        border-radius: 20px;
        width: 110px;
        box-shadow: 0px 6px 10px 3px #f1f1f1;
        margin-top: 7%;
        cursor: pointer;
    }
    .btn_two {
        margin: 6% auto 0;
    }
        .btn_one:hover .btn_one_img {
            -webkit-animation: goArrow 500ms infinite;
            -moz-animation:    goArrow 500ms infinite;
            -o-animation:      goArrow 500ms infinite;
            animation:         goArrow 500ms infinite;
        }
        .btn_oneP {
            color: white;
            font-size: 14px;
            padding: 7px 15px 9px;
            font-weight: 500;
        }
        .btn_two .btn_oneP {
            padding: 8px 15px 8px;
        }
        .btn_one_img {
            position: absolute;
            right: 14px;
            top: 35%;
            height: 12px;
        }
.submitSuccess {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    text-align: center;
    background: #ffffffcf;
}
    .submitSuccess {
        padding-top: 30%;
        color: #5e5e5e;
    }
    .submitSuccess .btn_one {
        margin: 7% auto 0 auto;
    }
.nofooter {
    text-align: center;
    position: absolute;bottom: 0;
    left: 0;
    width: 100%;
}
    .nofooter_p {
        font-size: 12px;
        color: #8a8a8a;
        padding: 15px 0;
    }
/*idManagement css [end]*/
/*idManagementPage css [start]*/
.idManagementPageMain {

}
    .IdPage_h1 {
        font-weight: 400;
        color: #5e5e5e;
        font-size: 27px;
        margin-bottom: 0;
        text-align: center;
        padding-top: 2.3%;
    }
    .IdPage_p1 {
        font-size: 14px;
        padding-top: 8px;
        line-height: 17px;
        text-align: center;
        color: #a1a1a1;
    }
    .idManagementPageMain_inner {
        width: 80%;
        border-bottom: 1px solid #eeeeee;
        margin: 0 auto;
        padding-bottom: 2.4%;
    }
        .idManagementPageMain_select {
            width: 68%;
            margin: 0 auto;
            border: 1px solid #dcdcdc;
            margin-top: 2.8%;
            position: relative;
            cursor: pointer;
        }
            .selectInput {
                border: 0;
                outline: 0;
                background: transparent;
                font-size: 15px;
                padding: 9px 3% 11px;;
                width: 85%;
                cursor: pointer;
            }
            .selectInput::placeholder {
                color: #5e5e5e;
                font-style: italic;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 1px;
            }
            .selectArrow {
                height: 14px;
                padding: 11px;
            }
            .idManagementPageMain_select_container {
                position: absolute;
                width: 100%;
                height: auto;
                border: 1px solid #dcdcdc;
                top: 100%;
            }
                .idManagementPageMain_select_options {
                    width: 100%;
                    padding: 5px 3%;
                    font-size: 14px;
                    color: #5e5e5e;
                    cursor: pointer;
                    background: white;
                }
                .idManagementPageMain_select_options:hover {
                    background: #e2dddd;
                }
                /*-------------------*/
    .IdManagementPageform {
        width: 67%;
        margin: 0 auto;
        padding: 4.1% 0 0 0;
    }
        .propertyOwner {
            color: #6b6b6b;
        }
        .fieldsetDiv {
            width: 100%;
            /*padding: 6.3% 0 0 0;*/
        }
        .fieldsetDiv:nth-child(2) {
            padding: 3.3% 0 0 0;
        }
            .IdManagementPageform_fieldset {
                width: 29%;
                border: 0;
                padding: 0;
                margin: 0;
            }
            .fieldsetDiv:nth-child(2) .IdManagementPageform_fieldset:nth-child(1){
                /*margin-right: 7%;*/
            }
            .IdManagementPageform_fieldset_adjust {
                margin-right: 7%;
            }
                .IdManagementPageform_fieldset_inp {
                    width: 100%;
                    border: 2px solid #e9e9e9;
                    color: #6a6a6a;
                    font-size: 13px;
                    letter-spacing: 1px;
                    text-align: right;
                    padding: 10px 5px;
                    box-sizing: border-box;
                }
                .IdManagementPageform_fieldset_inp_label {
                    display: block;
                    color: #737373;
                    font-size: 11px;
                    font-weight: 600;
                    margin-bottom: 12px;
                }
/*idManagementPage css [end]*/
/*propertyListing css [start]*/
.propertyLeft {
    width: 13%;
    height: 100%;
    position: relative;
    box-shadow: 0px 0px 10px 3px whitesmoke;
}
    .propertyLogo {
        position: relative;
    }
        .propertyLogo_p {
            color: #796b44;
            font-weight: 800;
            font-size: 20px;
            padding: 12.5% 29%;
        }
        .propertyLogo img{
            position: absolute;
            height:60px;
            top: 10px;
            left: 10%;
        }
    .propertyNav {
        margin-top: 112px;
    }
        .propertyNav_btn {
            border-left: 4px solid transparent;
        }
        .propertyNav_btn:hover {
            border-color: #836445;
            background: #f8f8f8;
        }
            .propertyNav_btn p {
                color: #888e95;
                font-weight: 700;
                font-size: 14px;
                padding: 20px 0 28px 14%;
            }
            .propertyNav_btn:hover p {
                color: #3d4c5c;
            }
        .propertyNav_btn_selected {
            border-color: #836445;
            background: #f8f8f8;
        }
            .propertyNav_btn_selected p {
                color: #3d4c5c;
            }
            /*--------------------*/
.propertyRight {
    flex: auto;
}
    .propertyRight_header {
        padding: 0 4.5% 0 3.7%;
        background: #f8f8f8;
        border-bottom: 2px solid #f1f1f1;
    }
        .propertyRight_headerLeft {
            padding: 20px 0 27px 0;
        }
            .searchLogo {
                height: 17px;
                padding-top: 5px;
            }
            .searchInput {
                font-size: 20px;
                background: transparent;
                border: 0;
                outline: 0;
                margin-left: 15px;
            }
            .searchInput::placeholder {
                color: #a7a6ab;
                font-size: 13px;
            }
            /*------------------------*/
        .propertyRight_headerRight {
            justify-content: flex-end;
            padding: 17px 0 0 0 ;
        }
            .notificationS {
                position: relative;
                margin-top: 6px;
            }
                .notifiCation {
                    position: absolute;
                    width: 11px;
                    height: 11px;
                    top: 0;
                    right: -5px;
                    background: #c2201b;
                    border-radius: 50%;
                    font-size: 7px;
                    color: white;
                    text-align: center;
                    padding: 1px 0 0 0;
                }
                .notificationS img {
                    height: 15px;
                }
            .settingS {
                padding-top: 6px;
                margin-left: 38px;
            }
                .settingS img {
                    height: 15px;
                }
            .UserImg {
                margin-left: 28px;
            }
                .UserImg img {
                    height: 32px;
                }
            .dropDown {
                padding-left: 10px;
            }
                .dropDown img {
                    height: 8px;
                }
            .Logout {
                width: 100px;
                border-radius: 5px;
                color: white;
                background: #888e95;
                text-align: center;
                padding: 5px 4%;
                cursor: pointer;
                margin: 0 0 20px 20px;
            }
                /*-------------------------*/
    .propertiesFilterContainer {
        padding: 0 4.5% 0 3.9%;
        box-shadow: 5px 0px 5px 3px whitesmoke;
    }
        .propertyName {
            color: #3d4045;
            font-size: 20px;
            font-weight: 600;
            padding: 15px 0 15px 0;
        }
        .propertyFilterBtn {
            margin: 13px 0 13px 0;
            padding: 8px 24px 0 15px;
            background: #ececec;
            border-radius: 5px;
        }
            .propertyFilterBtn img {
                height: 14px;
                padding: 0 15px 0 0;
            }
            .propertyFilterBtn p {
                font-size: 13px;
                color: #616161;
                font-weight: 700;
            }
            /*-------------*/
    .listiingSection {

    }
        .propertyLists {
            padding: 0 4.5% 0 3.7%;
            border-bottom: 1px solid #f6f6f6;
        }
        .propertyLists:hover {
            background: #f9f9f9;
        }
            .propertyLists_divs {
                padding: 26px 0 11px 0;
            }
                .propertyLists_divs_p {
                    font-size: 13px;
                    font-weight: 600;
                    color: #454a4e;
                    letter-spacing: -0.7px;
                }
                .Placeholder_img {
                    height: 14px;
                    padding: 2px 6px 0 0;
                }
                .List_btn {
                    margin: -5px 0 0 0;
                    padding: 7px 17px 9px 15px;
                    border-radius: 5px;
                    background: #fe8381;
                    cursor: pointer;
                }
                .List_btn:hover {
                    box-shadow: 0px 0px 5px 1px #fe8381;
                }
                    .List_btn img {
                        height: 15px;
                    }
                    .List_btn p {
                        font-size: 12px;
                        font-weight: 600;
                        padding-left: 10px;
                        color: white;
                    }

/*propertyListing css [end]*/
.propertyBackbtn {
    width: 14%;
    border-radius: 5px;
    color: white;
    background: #888e95;
    text-align: center;
    padding: 8px 4%;
    cursor: pointer;
    margin: 8px 0;
}
.propertyForwardBtn_cntnr {
    position: absolute;
    right: 5%;
    top: 13%;
}
.propertyForwardBtn {
    width: 135px;
    border-radius: 5px;
    color: white;
    background: #888e95;
    text-align: center;
    padding: 7px 7%;
    cursor: pointer;
    font-size: 13px;
    white-space: nowrap;
    margin-right: 5%;
}
