<!DOCTYPE html>
<html lang="en" ng-app="landTransfer">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/poc.css">
</head>
<body  ng-controller="poc">
<div class="bodyContainer bodyContainer_one">
    <header class="mainHeader _flex _j-sp_btvn">
        <div class="mainHeaderLeft">
            <img src="images/logo.png">
        </div>
        <nav class="mainHeaderRight_navs _flex _j-sp_btvn">
            <div ng-click="PoC()"            class="mainHeaderRight_btns mainHeaderRight_btns_selected">Home</div>
            <div ng-click="idManage()"       class="mainHeaderRight_btns">Identity Management</div>
            <div ng-click="propertyManage()" class="mainHeaderRight_btns">Property Management</div>
            <div ng-click="UserLogin()"      class="mainHeaderRight_btns">User login</div>
        </nav>
    </header>
    <h1 class="mainH1">
        Explore the feature of </br> land registration.
    </h1>
    <div class="firstContact _flex _j-sp_btvn">
        <div class="firstContact_inpbox">
            <input type="text" class="fist_input" ng-model="contactEmail" placeholder="please enter an email address to contact us">
        </div>
        <div class="firstContact_go">
            <img class="firstContact_go_img" src="images/rightarrow.png" ng-click="indexGo()">
        </div>
    </div>
</div>
<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/lib/toast.js"></script>
<script type="text/javascript" src="js/controllers/pocController.js"></script>
</body>
</html>