<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/poc.css">
</head>
<body  ng-app="landTransfer" ng-controller="idManagementPage">
<div class="bodyContainer IdManagementBody" ng-show="ngShow.idManageLogin">
    <header class="mainHeader _flex _j-sp_btvn">
        <div class="mainHeaderLeft">
            <img src="images/logo.png">
        </div>
        <nav class="mainHeaderRight_navs _flex _j-sp_btvn">
            <div ng-click="PoC()"            class="mainHeaderRight_btns">Home</div>
            <div ng-click="idManage()"       class="mainHeaderRight_btns mainHeaderRight_btns_selected">Identity Management</div>
            <div ng-click="propertyManage()" class="mainHeaderRight_btns">Property Management</div>
            <div ng-click="UserLogin()"      class="mainHeaderRight_btns">User login</div>
        </nav>
    </header>
    <main class="idManagementMain">
        <h1 class="Id_h1">Identity Management</h1>
        <p class="Id_p1">Lorem Ipsum is simply dummy text of the printing and</br> typesetting industry.</p>
        <form class="IdManagementform">
            <fieldset class="IdManagementform_fieldset">
                <input type="text" ng-model="login.email" placeholder="Email">
                <img class="greentick" src="images/greentick.png">
            </fieldset>
            <fieldset class="IdManagementform_fieldset">
                <input type="password" ng-model="login.password" placeholder="Password">
            </fieldset>
            <p class="IdManagementform_p">Forgot Password ?</p>
            <div class="btn_one" ng-click="idManageLogin()">
                <p class="btn_oneP">SUBMIT</p>
                <img src="images/whitearrow.png" class="btn_one_img">
            </div>
        </form>
    </main>
    <footer class="nofooter">
        <p class="nofooter_p">&#xA9; Copyright 2010 - 2018 | Land Regestration</p>
    </footer>
</div>
<div class="bodyContainer" ng-show="ngShow.idMangeForm" ng-click="hideList()">
    <header class="mainHeader _flex _j-sp_btvn">
        <div class="mainHeaderLeft">
            <img src="images/logo.png">
        </div>
        <nav class="mainHeaderRight_navs _flex _j-sp_btvn">
            <div class="mainHeaderRight_btns">Home</div>
            <div class="mainHeaderRight_btns mainHeaderRight_btns_selected">Identity Management</div>
            <div class="mainHeaderRight_btns">Property Management</div>
            <div class="mainHeaderRight_btns">User login</div>
        </nav>
    </header>
    <main class="idManagementPageMain">
        <div class="propertyForwardBtn_cntnr _flex">
            <div class="propertyForwardBtn" ng-click="Logout()">Logout</div>
        </div>
        <h1 class="IdPage_h1">Identity Management</h1>
        <p class="IdPage_p1">Lorem Ipsum is simply dummy text of the printing and</br> typesetting industry.</p>
        <div class="idManagementPageMain_inner">
            <div class="idManagementPageMain_select _flex _j-sp_btvn" ng-click="showList()">
                <input type="text" placeholder="select a resident" class="selectInput" readonly>
                <img src="images/darrow.png" class="selectArrow">
                <div class="idManagementPageMain_select_container" ng-show="ngShow.listOptions">
                    <div class="idManagementPageMain_select_options" ng-repeat="list in modal.residentList" ng-click="selectResident(list.address)">{{list.name}}</div>
                </div>
            </div>
        </div>
        <form class="IdManagementPageform">
            <div class="fieldsetDiv _flex _j-sp_btvn">
                <fieldset class="IdManagementPageform_fieldset">
                    <label class="IdManagementPageform_fieldset_inp_label">Full Name</label>
                    <input type="text" placeholder="Full Name" ng-model="residentDetails.fullName" class="IdManagementPageform_fieldset_inp">
                </fieldset>
                <fieldset class="IdManagementPageform_fieldset">
                    <label class="IdManagementPageform_fieldset_inp_label">Age</label>
                    <input type="number" placeholder="Age" ng-model="residentDetails.age" class="IdManagementPageform_fieldset_inp">
                </fieldset>
                <fieldset class="IdManagementPageform_fieldset">
                    <label class="IdManagementPageform_fieldset_inp_label">Emirates ID</label>
                    <input type="text" placeholder="Emirates ID" ng-model="residentDetails.emiratesId" class="IdManagementPageform_fieldset_inp">
                </fieldset>
            </div>
            <div class="fieldsetDiv _flex _j-sp_btvn">
                <fieldset class="IdManagementPageform_fieldset">
                    <label class="IdManagementPageform_fieldset_inp_label">Email</label>
                    <input type="text" placeholder="Email" ng-model="residentDetails.email" class="IdManagementPageform_fieldset_inp">
                </fieldset>
                <fieldset class="IdManagementPageform_fieldset">
                    <label class="IdManagementPageform_fieldset_inp_label">Contact Number</label>
                    <input type="text" placeholder="Contact Number" ng-model="residentDetails.contactNumber" class="IdManagementPageform_fieldset_inp">
                </fieldset>
                <fieldset class="IdManagementPageform_fieldset">
                    <label class="IdManagementPageform_fieldset_inp_label">Occupation</label>
                    <input type="text" placeholder="Occupation" ng-model="residentDetails.occupation" class="IdManagementPageform_fieldset_inp">
                </fieldset>
            </div>
            <div class="btn_one btn_two" ng-click="idManagementSubmit()">
                <p class="btn_oneP">SUBMIT</p>
                <img src="images/whitearrow.png" class="btn_one_img">
            </div>
        </form>
    </main>
    <div class="submitSuccess" ng-show="ngShow.updateSuccess">
        <h1>Successfully updated resident details</h1>
        <div class="btn_one" ng-click="updateSuccessOk()">
            <p class="btn_oneP">OK</p>
            <img src="images/whitearrow.png" class="btn_one_img">
        </div>
    </div>
    <footer class="nofooter">
        <p class="nofooter_p">&#xA9; Copyright 2010 - 2018 | Land Regestration</p>
    </footer>
</div>
<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/lib/toast.js"></script>
<script type="text/javascript" src="js/controllers/config.js"></script>
<script type="text/javascript" src="js/controllers/idManagementPageController.js"></script>
</body>
</html>