<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/poc.css">
</head>
<body ng-app="landTransfer" ng-controller="propertyManagement">
<div class="bodyContainer IdManagementBody" ng-show="ngShow.idManageLogin">
    <header class="mainHeader _flex _j-sp_btvn">
        <div class="mainHeaderLeft">
            <img src="images/logo.png">
        </div>
        <nav class="mainHeaderRight_navs _flex _j-sp_btvn">
            <div ng-click="PoC()"            class="mainHeaderRight_btns">Home</div>
            <div ng-click="idManage()"       class="mainHeaderRight_btns">Identity Management</div>
            <div ng-click="propertyManage()" class="mainHeaderRight_btns mainHeaderRight_btns_selected">Property Management</div>
            <div ng-click="UserLogin()"      class="mainHeaderRight_btns">User login</div>
        </nav>
    </header>
    <main class="idManagementMain">
        <h1 class="Id_h1">Property Management</h1>
        <p class="Id_p1">Lorem Ipsum is simply dummy text of the printing and</br> typesetting industry.</p>
        <form class="IdManagementform">
            <fieldset class="IdManagementform_fieldset">
                <input type="text" ng-model="login.email" placeholder="Email">
                <img class="greentick" src="images/greentick.png">
            </fieldset>
            <fieldset class="IdManagementform_fieldset">
                <input type="password" ng-model="login.password" placeholder="Password">
            </fieldset>
            <p class="IdManagementform_p">Forgot Password ?</p>
            <div class="btn_one" ng-click="PropertyManageLogin()">
                <p class="btn_oneP">SUBMIT</p>
                <img src="images/whitearrow.png" class="btn_one_img">
            </div>
        </form>
    </main>
    <footer class="nofooter">
        <p class="nofooter_p">&#xA9; Copyright 2010 - 2018 | Land Regestration</p>
    </footer>
</div>
<div class="bodyContainer" ng-show="ngShow.idMangeForm" ng-click="hideList()">
    <header class="mainHeader _flex _j-sp_btvn">
        <div class="mainHeaderLeft">
            <img src="images/logo.png">
        </div>
        <nav class="mainHeaderRight_navs _flex _j-sp_btvn">
            <div ng-click="PoC()"            class="mainHeaderRight_btns">Home</div>
            <div ng-click="idManage()"       class="mainHeaderRight_btns">Identity Management</div>
            <div ng-click="propertyManage()" class="mainHeaderRight_btns mainHeaderRight_btns_selected">Property Management</div>
            <div ng-click="UserLogin()"      class="mainHeaderRight_btns">User login</div>
        </nav>
    </header>
    <main class="idManagementPageMain">
        <div class="propertyForwardBtn_cntnr _flex">
            <div class="propertyForwardBtn" ng-click="propertyForwardBtn()">Purchase Orders</div>
            <div class="propertyForwardBtn" ng-click="Logout()">Logout</div>
        </div>
        <h1 class="IdPage_h1">Property Management</h1>
        <p class="IdPage_p1">Lorem Ipsum is simply dummy text of the printing and</br> typesetting industry.</p>
        <div class="idManagementPageMain_inner">
            <div class="idManagementPageMain_select _flex _j-sp_btvn" ng-click="showList()">
                <input type="text" placeholder="select Property" class="selectInput" readonly>
                <img src="images/darrow.png" class="selectArrow">
                <div class="idManagementPageMain_select_container" ng-show="ngShow.listOptions">
                    <div class="idManagementPageMain_select_options" ng-repeat="list in modal.residentList" ng-click="selectProperty(list.propertyId, list.address)">{{list.propertyId}}</div>
                </div>
            </div>
        </div>
        <form class="IdManagementPageform">
            <div class="propertyOwner"><strong>Property Owner : </strong>{{residentDetails.propertyOwner}}</div>
            <div class="fieldsetDiv _flex _j-sp_btvn">
                <fieldset class="IdManagementPageform_fieldset">
                    <label class="IdManagementPageform_fieldset_inp_label">Property ID</label>
                    <input type="text" ng-model="residentDetails.propertyId" placeholder="Property ID" class="IdManagementPageform_fieldset_inp">
                </fieldset>
                <fieldset class="IdManagementPageform_fieldset">
                    <label class="IdManagementPageform_fieldset_inp_label">Total Area</label>
                    <input type="text" ng-model="residentDetails.totalArea" placeholder="Total Area" class="IdManagementPageform_fieldset_inp">
                </fieldset>
                <fieldset class="IdManagementPageform_fieldset">
                    <label class="IdManagementPageform_fieldset_inp_label">GPS Coordinates</label>
                    <input type="text" ng-model="residentDetails.gpsCoordintes" placeholder="GPS Coordinates" class="IdManagementPageform_fieldset_inp">
                </fieldset>
            </div>
            <div class="fieldsetDiv _flex ">
                <fieldset class="IdManagementPageform_fieldset IdManagementPageform_fieldset_adjust">
                    <label class="IdManagementPageform_fieldset_inp_label">Square Feet</label>
                    <input type="text" ng-model="residentDetails.sqfeet" placeholder="Sq feet" class="IdManagementPageform_fieldset_inp">
                </fieldset>
                <fieldset class="IdManagementPageform_fieldset">
                    <label class="IdManagementPageform_fieldset_inp_label">Landmark</label>
                    <input type="text" ng-model="residentDetails.landmark" placeholder="Landmark" class="IdManagementPageform_fieldset_inp">
                </fieldset>
            </div>
            <div class="btn_one btn_two" ng-click="propertyManagementSubmit()">
                <p class="btn_oneP">SUBMIT</p>
                <img src="images/whitearrow.png" class="btn_one_img">
            </div>
        </form>
    </main>
    <div class="submitSuccess" ng-show="ngShow.updateSuccess">
        <h1>Successfully updated resident details</h1>
        <div class="btn_one" ng-click="updateSuccessOk()">
            <p class="btn_oneP">OK</p>
            <img src="images/whitearrow.png" class="btn_one_img">
        </div>
    </div>
    <footer class="nofooter">
        <p class="nofooter_p">&#xA9; Copyright 2010 - 2018 | Land Regestration</p>
    </footer>
</div>
<div class="bodyContainer _flex" ng-show="ngShow.PropertyListing">
    <div class="propertyRight">
        <div class="propertiesFilterContainer _flex _j-sp_btvn">
            <div class="propertyName">Properties</div>
            <div class="propertyBackbtn" ng-click="propertyBackbtn()">
                BACK
            </div>
        </div>
        <section class="listiingSection">
            <div class="propertyLists _flex _j-sp_btvn" ng-repeat="data in modal.listPropertyDetails">
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">Property ID - {{data.id}}</p>
                </div>
                <div class="propertyLists_divs _flex">
                    <img src="images/placeholder.png" class="Placeholder_img">
                    <p class="propertyLists_divs_p">{{data[3]}}</p>
                </div>
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">{{data[0]}} Sq.Feet</p>
                </div>
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">{{data[2]}}</p>
                </div>
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">{{data[1]}} AED</p>
                </div>
                <div class="propertyLists_divs">
                    <div class="List_btn _flex" ng-click="exicuteTransfer(data.id, data.address)">
                        <img src="images/cart.png">
                        <p>ACCEPT</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="submitSuccess" ng-show="ngShow.updateSuccess2">
            <h1>Successfully Transfered</h1>
            <div class="btn_one" ng-click="buySuccessOk()">
                <p class="btn_oneP">OK</p>
                <img src="images/whitearrow.png" class="btn_one_img">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/lib/toast.js"></script>
<script type="text/javascript" src="js/controllers/config.js"></script>
<script type="text/javascript" src="js/controllers/propertyManagementController.js"></script>
</body>
</html>