<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/poc.css">
</head>
<body ng-app="landTransfer" ng-controller="generalUserLogin">
<div class="bodyContainer IdManagementBody" ng-show="ngShow.idManageLogin">
    <header class="mainHeader _flex _j-sp_btvn">
        <div class="mainHeaderLeft">
            <img src="images/logo.png">
        </div>
        <nav class="mainHeaderRight_navs _flex _j-sp_btvn">
            <div ng-click="PoC()"            class="mainHeaderRight_btns">Home</div>
            <div ng-click="idManage()"       class="mainHeaderRight_btns">Identity Management</div>
            <div ng-click="propertyManage()" class="mainHeaderRight_btns">Property Management</div>
            <div ng-click="UserLogin()"      class="mainHeaderRight_btns mainHeaderRight_btns_selected">User login</div>
        </nav>
    </header>
    <main class="idManagementMain">
        <h1 class="Id_h1">User Management</h1>
        <p class="Id_p1">Lorem Ipsum is simply dummy text of the printing and</br> typesetting industry.</p>
        <form class="IdManagementform">
            <fieldset class="IdManagementform_fieldset">
                <input type="text" ng-model="login.email" placeholder="Email">
                <img class="greentick" src="images/greentick.png">
            </fieldset>
            <fieldset class="IdManagementform_fieldset">
                <input type="password" ng-model="login.password" placeholder="Password">
            </fieldset>
            <p class="IdManagementform_p">Forgot Password ?</p>
            <div class="btn_one" ng-click="idManageLogin()">
                <p class="btn_oneP">SUBMIT</p>
                <img src="images/whitearrow.png" class="btn_one_img">
            </div>
        </form>
    </main>
    <footer class="nofooter">
        <p class="nofooter_p">&#xA9; Copyright 2010 - 2018 | Land Regestration</p>
    </footer>
</div>
<div class="bodyContainer _flex" ng-show="ngShow.idMangeForm">
    <div class="propertyLeft">
        <div class="propertyLogo">
            <img src="images/logo.png">
        </div>
        <nav class="propertyNav">
            <div class="propertyNav_btn propertyNav_one propertyNav_btn_selected" ng-class="" ng-click="propertiesListbtn()">
                <p>Properties</p>
            </div>
            <div class="propertyNav_btn propertyNav_two" ng-click="propertiesListbtnbuy()">
                <p>Sell Orders</p>
            </div>
        </nav>
    </div>
    <div class="propertyRight">
        <header class="propertyRight_header _flex _j-sp_btvn">
            <div class="propertyRight_headerLeft _flex">
                <img src="images/search.png" class="searchLogo">
                <input type="text" class="searchInput" placeholder="Search Properties">
            </div>
            <div class="propertyRight_headerRight _flex">
                <div class="notificationS">
                    <div class="notifiCation">3</div>
                    <img src="images/bell.png">
                </div>
                <div class="settingS">
                    <img src="images/settings.png">
                </div>
                <!--<div class="UserImg">-->
                    <!--<img src="images/user.png">-->
                <!--</div>-->
                <!--<div class="dropDown">-->
                    <!--<img src="images/darrow.png">-->
                <!--</div>-->
                <div class="Logout" ng-click="Logout()">Logout</div>
            </div>
        </header>
        <div class="propertiesFilterContainer _flex _j-sp_btvn">
            <div class="propertyName">Properties</div>
            <div class="propertyFilterBtn _flex">
                <img src="images/filter.jpg">
                <p>Filter</p>
            </div>
        </div>
        <section class="listiingSection">
            <!--properties buy list-->
            <div class="propertyLists _flex _j-sp_btvn" ng-repeat="data in modal.Properties" ng-show="ngShow.buyList">
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">Property ID - {{data.id}}</p>
                </div>
                <div class="propertyLists_divs _flex">
                    <img src="images/placeholder.png" class="Placeholder_img">
                    <p class="propertyLists_divs_p">{{data[3]}}</p>
                </div>
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">{{data[0]}} Sq.Feet</p>
                </div>
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">{{data[2]}}</p>
                </div>
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">{{data[1]}} AED</p>
                </div>
                <div class="propertyLists_divs">
                    <div class="List_btn _flex" ng-click="buyProperty(data.id, data.address)">
                        <img src="images/cart.png">
                        <p>BUY</p>
                    </div>
                </div>
            </div>
            <!--buy orders list-->
            <div class="propertyLists _flex _j-sp_btvn" ng-repeat="data in modal.buyerDetails" ng-show="ngShow.buyOrders">
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">Property ID - {{data.id}}</p>
                </div>
                <div class="propertyLists_divs _flex">
                    <img src="images/placeholder.png" class="Placeholder_img">
                    <p class="propertyLists_divs_p">{{data[3]}}</p>
                </div>
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">{{data[0]}}  Sq.Feet</p>
                </div>
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">{{data[2]}}</p>
                </div>
                <div class="propertyLists_divs">
                    <p class="propertyLists_divs_p">{{data[1]}} AED</p>
                </div>
                <div class="propertyLists_divs">
                    <div class="List_btn _flex" ng-click="buyConfirm(data.id, data.address)">
                        <img src="images/cart.png">
                        <p>CONFIRM</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="submitSuccess" ng-show="ngShow.updateSuccess">
            <h1>Buy order confirmed</h1>
            <div class="btn_one" ng-click="buySuccessOk()">
                <p class="btn_oneP">OK</p>
                <img src="images/whitearrow.png" class="btn_one_img">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/angular.min.js"></script>
<script type="text/javascript" src="js/lib/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/lib/toast.js"></script>
<script type="text/javascript" src="js/controllers/config.js"></script>
<script type="text/javascript" src="js/controllers/idmanagementLoginController.js"></script>
</body>
</html>